DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=shop_db
PORT=5000
JWT_SECRET=your_jwt_secret_key

CLOUDINARY_CLOUD_NAME=tm3h6qcc
CLOUDINARY_API_KEY=487525817572831
CLOUDINARY_API_SECRET=Wk0_tsBF15hGClEO9Ez9lkDJq2w
